<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classi-Cloths</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <link rel="stylesheet" href="../assets/fonts/OFL.txt">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9fe8afb7ed.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/js/bootstrap.bundle.min.js">
</head>

<body>

    <!-- Navbar Section -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="#">Classi-Clothsi</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link nav_link_design active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_link_design" href="#">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_link_design" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_link_design" href="#">Contact</a>
                    </li>
                </ul>
                <a href="#" class=" cart_btn fw-bold">Cart</a>
            </div>
        </div>
    </nav>

    <!--********************** section 1 ********************** -->
    <section class="py-5 d-flex align-items-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text-center text-md-start">
                    <h1 class="display-4 fw-bold section1_h1">Give Thanks In Style With Maize Hoodies</h1>
                    <p class="text-black">Discover Cozy and Fashionable Hoodies for Your Thanksgiving Celebrations</p>
                    <a href="#" class="btn btn_Add_to_Cart btn-lg text-uppercase px-3 py-3 fw-bold">Shop Now &
                        Save 20%</a>
                </div>
                <div class="col-md-6 text-center">
                    <img class="section1_img" src="../assets/images/pictures/top image.webp" alt="Maize Hoodie"
                        class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <!-- ********************* Section 2 ************************ -->
    <section class="product_section py-5 ">
        <div class="container">
            <h1 class="text-center py-4 fw-bold">Trending Now</h1>
            <div class="row g-4">
                <!------------------------- Product Card 1 ----------------------->
                <div class="col-md-6 col-lg-3">
                    <div class="card text-center shadow-sm">
                        <img src="../assets/images/pictures/card1.webp" class="card-img-top" alt="Autumn Breeze Hoodie">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-start">Autumn Breeze Hoodie</h5>
                            <p class="card-text text-black fs-4 fw-bold text-start">$49.99</p>
                            <div class="d-flex justify-content-start mb-2">
                                <span class="color_circle bg-danger"></span>
                                <span class="color_circle bg-success"></span>
                                <span class="color_circle bg-primary"></span>
                            </div>
                            <div class="d-flex justify-content-start mb-3">
                                <button class="btn btn-outline-secondary btn-sm">S</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">M</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">L</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">XL</button>
                            </div>
                            <button class="btn btn_Add_to_Cart w-100">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <!---------------------------- Product Card 2 ------------------------------>
                <div class="col-md-6 col-lg-3">
                    <div class="card text-center shadow-sm">
                        <img src="../assets/images/pictures/card2.webp" class="card-img-top" alt="Cozy Comfort Hoodie">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-start">Cozy Comfort Hoodie</h5>
                            <p class="card-text text-black fs-4 fw-bold text-start">$54.99</p>
                            <div class="d-flex justify-content-start mb-2">
                                <span class="color_circle bg-primary"></span>
                                <span class="color_circle bg-brown"></span>
                                <span class="color_circle bg-warning"></span>
                            </div>
                            <div class="d-flex justify-content-start mb-3">
                                <button class="btn btn-outline-secondary btn-sm">S</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">M</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">L</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">XL</button>
                            </div>
                            <button class="btn btn_Add_to_Cart w-100">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <!------------------------------ Product Card 3 ------------------------------->
                <div class="col-md-6 col-lg-3">
                    <div class="card text-center shadow-sm">
                        <img src="../assets/images/pictures/card3.webp" class="card-img-top" alt="Festive Fall Hoodie">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-start">Festive Fall Hoodie</h5>
                            <p class="card-text text-black fs-4 fw-bold text-start">$59.99</p>
                            <div class="d-flex justify-content-start mb-2">
                                <span class="color_circle bg-warning"></span>
                                <span class="color_circle bg-primary"></span>
                                <span class="color_circle bg-dark"></span>
                            </div>
                            <div class="d-flex justify-content-start mb-3">
                                <button class="btn btn-outline-secondary btn-sm">S</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">M</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">L</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">XL</button>
                            </div>
                            <button class="btn btn_Add_to_Cart w-100">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <!---------------------------------- Product Card 4 ------------------------------>
                <div class="col-md-6 col-lg-3">
                    <div class="card text-center shadow-sm">
                        <img src="../assets/images/pictures/card4.webp" class="card-img-top"
                            alt="Adventure Grey Hoodie">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-start">Adventure Grey Hoodie</h5>
                            <p class="card-text text-black fs-4 fw-bold text-start">$65.99</p>
                            <div class="d-flex justify-content-start mb-2">
                                <span class="color_circle bg-secondary"></span>
                                <span class="color_circle bg-dark"></span>
                                <span class="color_circle bg-primary"></span>
                            </div>
                            <div class="d-flex justify-content-start mb-3">
                                <button class="btn btn-outline-secondary btn-sm">S</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">M</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">L</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">XL</button>
                            </div>
                            <button class="btn btn_Add_to_Cart w-100">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ************************** Section 3 ******************** -->

    <!-- Banner Section -->
    <section class="banner_section d-flex align-items-center justify-content-center">
        <div class="text-center text-white banner_design">
            <h1 class="display-5 fw-bold section_3_h1">Cozy & Comfortable This <br> Thanksgiving</h1>
            <p class="section3_para">This Thanksgiving, express gratitude in style with our premium hoodies. Embrace the
                warmth and joy of the
                holiday while staying comfortable and fashionable. Shop now to elevate your Thanksgiving celebration
                with Maize.</p>
            <a href="#" class="btn btn_shop_now btn-lg">Shop Now</a>
        </div>
    </section>


    <!-- *********** Section 4 ***************** -->
    <section class="product-section py-5 ">
        <div class="container">
            <h1 class="text-center py-4 fw-bold">Top Picks For Thanksgiving</h1>
            <div class="row g-4">
                <!-- Product Card 1 -->
                <div class="col-md-6 col-lg-3">
                    <div class="card text-center shadow-sm">
                        <img src="../assets/images/pictures/carda1.webp" class="card-img-top"
                            alt="Autumn Breeze Hoodie">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-start">Grateful Harvest Hoodie</h5>
                            <p class="card-text text-black fs-4 fw-bold text-start">$59.99</p>
                            <div class="d-flex justify-content-start mb-2">
                                <span class="color_circle bg-danger"></span>
                                <span class="color_circle bg-success"></span>
                                <span class="color_circle bg-primary"></span>
                            </div>
                            <div class="d-flex justify-content-start mb-3">
                                <button class="btn btn-outline-secondary btn-sm">S</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">M</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">L</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">XL</button>
                            </div>
                            <button class="btn btn_Add_to_Cart w-100">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <!-- Product Card 2 -->
                <div class="col-md-6 col-lg-3">
                    <div class="card text-center shadow-sm">
                        <img src="../assets/images/pictures/carda2.webp" class="card-img-top" alt="Cozy Comfort Hoodie">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-start">Autumn Maize Hoodie</h5>
                            <p class="card-text text-black fs-4 fw-bold text-start">$74.99</p>
                            <div class="d-flex justify-content-start mb-2">
                                <span class="color_circle bg-primary"></span>
                                <span class="color_circle bg-warning"></span>
                                <span class="color_circle bg-brown"></span>
                            </div>
                            <div class="d-flex justify-content-start mb-3">
                                <button class="btn btn-outline-secondary btn-sm">S</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">M</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">L</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">XL</button>
                            </div>
                            <button class="btn btn_Add_to_Cart w-100">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <!-- Product Card 3 -->
                <div class="col-md-6 col-lg-3">
                    <div class="card text-center shadow-sm">
                        <img src="../assets/images/pictures/carda3.webp" class="card-img-top" alt="Festive Fall Hoodie">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-start">Cozy Cabin Hoodie</h5>
                            <p class="card-text text-black fs-4 fw-bold text-start">$49.99</p>
                            <div class="d-flex justify-content-start mb-2">
                                <span class="color_circle bg-warning"></span>
                                <span class="color_circle bg-dark"></span>
                                <span class="color_circle bg-primary"></span>
                            </div>
                            <div class="d-flex justify-content-start mb-3">
                                <button class="btn btn-outline-secondary btn-sm">S</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">M</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">L</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">XL</button>
                            </div>
                            <button class="btn btn_Add_to_Cart w-100">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <!-- Product Card 4 -->
                <div class="col-md-6 col-lg-3">
                    <div class="card text-center shadow-sm">
                        <img src="../assets/images/pictures/carda4.webp" class="card-img-top"
                            alt="Adventure Grey Hoodie">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-start">Fireside Comfort Hoodie</h5>
                            <p class="card-text text-black fs-4 fw-bold text-start">$65.99</p>
                            <div class="d-flex justify-content-start mb-2">
                                <span class="color_circle bg-secondary"></span>
                                <span class="color_circle bg-dark"></span>
                                <span class="color_circle bg-primary"></span>
                            </div>
                            <div class="d-flex justify-content-start mb-3">
                                <button class="btn btn-outline-secondary btn-sm">S</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">M</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">L</button>&nbsp;&nbsp;
                                <button class="btn btn-outline-secondary btn-sm">XL</button>
                            </div>
                            <button class="btn btn_Add_to_Cart w-100">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- **************** SEction 5 **************** -->

    <div class="specials_section">
        <h2 class="fw-bold thanks_giving_h2">Thanksgiving Season Specials</h2>
        <div class="container">
            <hr>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <center>
                                <div class="thanks_giving">
                                    <i class="fa-solid fa-tags fs-1 mt-3"></i>
                                </div>
                            </center>
                            <h5 class="card-title">Exclusive Discounts</h5>
                            <p class="card-text">Enjoy extra savings during the Thanksgiving season with our exclusive
                                discount code: THANKS20</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <center>
                                <div class="thanks_giving">
                                    <i class="fa-solid fa-truck-fast fs-1 mt-3"></i>
                                </div>
                            </center>
                            <h5 class="card-title">Free Shipping</h5>
                            <p class="card-text">We're spreading the holiday cheer by offering free shipping on all
                                orders placed during the Thanksgiving season.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card text-center">

                        <div class="card-body">
                            <center>
                                <div class="thanks_giving">
                                    <i class="fa-solid fa-gift fs-1 mt-3"></i>
                                </div>
                            </center>
                            <h5 class="card-title">Free Gift Wrapping</h5>
                            <p class="card-text">Free gift wrapping during Thanksgiving. Make your hoodie purchases
                                extra special with beautifully wrapped packages.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn_Add_to_Cart">Shop Now & Save!</button>
    </div>
    <!-- ******************* Section 6 ***************** -->
    <div class="testimonials_section">
        <h2>What Our Customers Say</h2>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="testimonial-card">
                        <img src="../assets/images/pictures/scrollimg1.webp" alt="Customer Image 1">
                        <div class="testimonial-body">
                            <p class="text-start">I absolutely love my Maize hoodie! The quality is outstanding, and it
                                keeps me warm and cozy during the colder months. Highly recommend!</p>
                            <div>
                                <h5 class="text-start">Sarah Davis</h5>
                                <div class="col-lg-6 testimonial-rating text-start">
                                    ★★★★★
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="testimonial-card">
                        <img src="../assets/images/pictures/scrollimg2.webp" alt="Customer Image 2">
                        <div class="testimonial-body">
                            <p class="text-start">Maize hoodies are my go-to for both style and comfort. The designs are
                                trendy, and the fit is perfect. I get compliments every time I wear one!</p>
                            <h5 class="text-start">Emily Johnson</h5>
                            <div class="testimonial-rating text-start">
                                ★★★★★
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="testimonial-card">
                        <img src="../assets/images/pictures/scrollimg3.webp" alt="Customer Image 3">
                        <div class="testimonial-body">
                            <p class="text-start">I absolutely love my Maize hoodie! The quality is outstanding, and it
                                keeps me warm and cozy during the colder months. Highly recommend!</p>
                            <h5 class="text-start">John Smith</h5>
                            <div class="testimonial-rating text-start">
                                ★★★★★
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ********************* Section 7 ********************* -->
    <div class="container section_7_pro">
        <div class="section7_heading">
            <h1 class="text-center fw-bold text-capitalize">customer styling inspiration</h1>
            <p class="text-center">We created this section with<span class="fw-bold">VIBE Shoppable Instagram</span>
                Feedapp</p>
        </div>
        <div class="row section7_design">
            <div class="col-md-3 col-6">
                <div class="image_container">
                    <img src="../assets/images/pictures/cstylingimg1.webp" class="img-fluid" alt="Image 1">
                    <div class="tag_icon"><i class="fa-solid fa-tag fs-4 discount_tag"></i></div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="image_container">
                    <img src="../assets/images/pictures/cstylingimg2.webp" class="img-fluid" alt="Image 2">
                    <div class="tag_icon"><i class="fa-solid fa-tag fs-4 discount_tag"></i></div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="image_container">
                    <img src="../assets/images/pictures/csstylingimg3.webp" class="img-fluid" alt="Image 3">
                    <div class="tag_icon"><i class="fa-solid fa-tag fs-4 discount_tag"></i></div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="image_container">
                    <img src="../assets/images/pictures/csstylingimg4.webp" class="img-fluid" alt="Image 4">
                    <div class="tag_icon"><i class="fa-solid fa-tag fs-4 discount_tag"></i></div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="image_container">
                    <img src="../assets/images/pictures/csstylingimg5.webp" class="img-fluid" alt="Image 5">
                    <div class="tag_icon"><i class="fa-solid fa-tag fs-4 discount_tag"></i></div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="image_container">
                    <img src="../assets/images/pictures/csstylingimg6.webp" class="img-fluid" alt="Image 6">
                    <div class="tag_icon"><i class="fa-solid fa-tag fs-4 discount_tag"></i></div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="image_container">
                    <img src="../assets/images/pictures/csstylingimg7.webp" class="img-fluid" alt="Image 7">
                    <div class="tag_icon"><i class="fa-solid fa-tag fs-4 discount_tag"></i></div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="image_container">
                    <img src="../assets/images/pictures/csstylingimg8.webp" class="img-fluid" alt="Image 8">
                    <div class="tag_icon"><i class="fa-solid fa-tag fs-4 discount_tag"></i></div>
                </div>
            </div>
        </div>
        <button class="btn btn_Add_to_Cart see_more_btn">See More</button>
    </div>

    <!-- ********************* Section 8 ********************* -->

    <section class="subscribe_section">
        <div class="container">
            <h2 class="fw-bold">Subscribe For Exclusive Updates</h2>
            <p>Get early access, special offers, and the latest releases. Join now and elevate your hoodie game!</p>
            <div class=" subscribe_input justify-content-center">
                <input type="email" class="form_control " placeholder="Enter your email" aria-label="Email">
                <button class="btn btn_subscribe shadow-lg fw-bold">SUBSCRIBE NOW!</button>
            </div>
            <div class="social-icons mt-4">
                <a href="#"><i class="fa-brands fa-facebook fs-1"></i></a>
                <a href="#"><i class="fa-brands fa-instagram fs-1"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter fs-1"></i></a>
            </div>
        </div>
    </section>


</body>

</html>